.nicolive_link_button_wrap {
    position:  absolute;
    top: 0;
    right: 0;
    padding: 2px;
}

.nicolive_link_button {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    box-shadow: -3px 3px 10px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicolive_link_button img {
    width: 60% !important;
    height: 60% !important;
    cursor: pointer;
    object-fit: contain;
    filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(139deg) brightness(104%) contrast(94%);
    pointer-events: none;
}
.nicolive_link_button:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(46deg) brightness(103%) contrast(102%);
}

