body {
    background-color: black;
}
#root {
    opacity: 0;
}

.fullScreenView {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh;
    max-height: 100vh;
    z-index: 9999999;
}

.hiddenView {
    display: none !important;
}

.overflowHidden {
    overflow: hidden;
}

.minSizeNone {
    max-width: none !important;
    max-height: none !important;
    min-width: auto !important;
    min-height: auto !important;
}

.clonedMuteBtnWrap {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
}
